.dash-spreadsheet-container::-webkit-scrollbar-thumb {
    background: #0a1922; 
    border-radius: 10px;
    width: 10px;
    opacity: 50%;
  }

.dash-spreadsheet-container::-webkit-scrollbar {
    height: 5px;
    background: #ffffff;
  }

table td .cell--selected  {
    border-collapse: collapse;
    font-family: monospace;
    --accent: hotpink;
    --border: lightgrey;
    --text-color: #3c3c3c;
    --hover: #fdfdfd;
    --background-color-ellipses: #fdfdfd;
    --faded-text: #fafafa;
    --faded-text-header: #b4b4b4;
    --selected-background: rgba(255, 65, 54, 0.2);
    --faded-dropdown: #f0f0f0;
    --muted: #c8c8c8;
}

